body {
   margin: 0;
   height: 2000px;
   font-family: 'Quicksand', sans-serif;
}

#main {
   height: 83%;
}

#shape-1 {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 1660px;
   clip-path: polygon(65% 0%, 0 0, 0 9.5%);
   background-color: #752DD0;
}

#shape-2 {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 1660px;
   clip-path: polygon(65% 0, 100% 0, 100% 15%, 30% 29%, 0 35%, 0 9.5%);
   background-color: #7652E3;
}

#shape-3 {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 1660px;
   clip-path: polygon(0 35%, 100% 15%, 100% 25%, 0 45%);
   background-color: #736FDF;
}

#shape-4 {
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 1660px;
   clip-path: polygon(0 90.5%, 100% 75%, 100% 100%, 0% 100%);
   background-color: #F6F9FC;
}

#content {
   position: absolute;
   z-index: 1;
}

#navbar {
   margin-left: 10vw;
   margin-right: 10vw;
   width: 78vw;
   color: white;
}

.nav-item {
   display: inline-block;
}

.nav-item.left {
   margin-right: 35vw;
}

.nav-item.right {
   margin-left: 2vw;
}

.nav-item.right:hover {
   cursor: pointer;
   text-decoration: underline;
}

#support {
   background-color: #81D398;
   color: white;
   border-radius: 3px;
   border: none;
   font-family: 'Quicksand', sans-serif;
   padding: 1vw 2vw;
}

#header {
   text-align: center;
   height: 20vw;
}

#title p {
   color: white;
   font-size: 4vw;
   margin: 2.5vw 0;
}

#site-input input {
   border-radius: 5px;
   border: none;
   font-family: 'Quicksand', sans-serif;
   width: 25vw;
   height: 3vw;
   padding-left: 1vw;
   margin-right: 1vw;
}

#site-input button {
   border-radius: 5px;
}

#middle-text {
   margin-top: 5vw;
   font-size: 1.2vw;
   text-align: center;
   color: white;
}

#arrow {
   border-radius: 30px;
   border: none;
   background-color: #81D398;
   color: white;
   font-size: 2vw;
   padding: 1vw 1.5vw;
   margin-top: 1vw;
}

#footer {
   width: 100%;
   height: 17%;
   background-color: #736FDF;
}

